<html>
<head>
    <tittle>well hello there</tittle>
</head>
<body>
    <div>
        <p>welcome to the django</p>
    </div>

    <div>
        <p>published: 14.06.2014</p>
        <h2><a href="">my first post</a></h2>
        <p>aenea eu leo quam. pellentesque ornare sem lacinia quam
           venenatis vestibulum. donec id elit non mi porta gravida at
           eget metus .fusce depibus, tellus ac curses commando,tortor
        mauris condimentum nibh, ut fermentum massa justo sit
        </p>
    </div>

    <div>
        <p>published: 14.06.2014</p>
        <h2><a href="">my second post</a></h2>
        <p>aenea eu leo quam. pellentesque ornare sem lacinia quam
           venenatis vestibulum. donec id elit non mi porta gravida at
           eget metus .fusce depibus, tellus ac curses commando,tortor
        mauris condimentum nibh, ut fermentum massa justo sit
        </p>
    </div>

</body>
</html>